<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} [%t] %-5level %logger{36}:%L - %msg%n"
				charset="ISO-8859-1" />
		</Console>
		<RollingFile name="RollingFile"
			fileName="logs/com.buldreinfo.jersey.jaxb.log"
			filePattern="logs/$${date:yyyy-MM}/com.buldreinfo.jersey.jaxb-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} [%t] %-5level %logger{36}:%L - %msg%n"
				charset="ISO-8859-1" />
			<Policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<RollingFile name="ErrRollingFile"
			fileName="logs/com.buldreinfo.jersey.jaxb.error.log"
			filePattern="logs/$${date:yyyy-MM}/com.buldreinfo.jersey.jaxb.error-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy.MM.dd HH:mm:ss,SSS} [%t] %-5level %logger{36}:%L - %msg%n"
				charset="ISO-8859-1" />
			<Policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<Async name="ASYNC" includeLocation="true">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="RollingFile" />
		</Async>
		<Async name="ASYNCERR" includeLocation="true">
			<AppenderRef ref="ErrRollingFile" />
		</Async>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="ASYNC" />
			<AppenderRef ref="ASYNCERR" level="error" />
		</Root>
	</Loggers>
</Configuration>